<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shifen.game.jfcz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 申请使用 JNI 权限 -->
    <uses-permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ProtectedPermissions" /> <!-- 申请读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".JFCZApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ADActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.GameActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.GiftListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.PayActivity"
            android:launchMode="singleTop" />

        <activity
            android:theme="@style/ActivityDialog"
            android:name=".ui.ErrorDialog"
            android:launchMode="singleInstance" />

        <activity
            android:theme="@style/ActivityDialog"
            android:name=".ui.PaySuccessDialog"
            android:launchMode="singleInstance" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bb8142fb465f51bc800030e"/>

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="72fe2d62f461225525dd7e46a9babc6b"/>


        <activity
            android:name=".ui.OutTestActivity"
            android:label="@string/title_activity_out_test"
            android:theme="@style/AppTheme.NoActionBar">

        <!--    <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>