<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shifen.game.jfcz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".JFCZApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ADActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.GameActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.GiftListActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".ui.PayActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bb8142fb465f51bc800030e"/>

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="72fe2d62f461225525dd7e46a9babc6b"/>
    </application>

</manifest>